* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #00bcd4, #4caf50);
    font-family: 'Arial', sans-serif;
  }
  
  .game-container {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 2px solid #00796b;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #player {
    position: absolute;
    bottom: 10px;
    left: 130px;
    width: 50px;
    height: 50px;
    background-image: url('https://i.pinimg.com/564x/59/aa/93/59aa93de37dd7cc76fbcba898df013c6.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transition: left 0.1s ease-in-out;
  }
  
  .apple {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url('https://cdn.vectorstock.com/i/750p/03/47/apple-fruit-cartoon-isolated-vector-23940347.avif');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall 2s infinite ease-in-out;
  }
  
  #score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #00796b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #goal-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: green;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  @keyframes fall {
    0% {
      top: -30px;
    }
    100% {
      top: 480px;
    }
  }
  
  .controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px; /* Add some padding to the sides */
  }
  
  button {
    background-color: #00796b;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #004d40;
  }
  
  button:focus {
    outline: none;
  }
  